<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <script src="{% static 'covid_app/js/jquery-3.3.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'covid_app/css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'covid_app/css/style.css' %}">
    <link rel = "icon" href ="{% static 'covid_app/images/covid-icon.png' %}" type = "image/x-icon">

    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:500">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    {% block scripts %}
    {% endblock %}
</head>
<body class="w3-theme-l5">
<!-- Navbar -->
<div class="w3-top header">
    <div class="w3-bar w3-large header-content">
        <a class="w3-bar-item w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large"
           href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>

        <div class="title-div">
            <img class="covid-icon" src="{% static 'covid_app/images/covid-icon.png' %}">
            <a href="{% url 'covid_app:dashboard' %}" class="logo-text w3-hide-small">COVID-19</a>
        </div>

        <a href="{% url 'covid_app:dashboard' %}"
           class="w3-bar-item w3-button w3-hide-small w3-right header-button" title="Dashboard">Dashboard
        </a>
        <a href="{% url 'covid_app:case_stats' %}"
           class="w3-bar-item w3-button w3-hide-small w3-right header-button" title="Statistics">Statistics
        </a>
        <a href="{% url 'covid_app:dashboard' %}"
           class="w3-bar-item w3-button w3-hide-small w3-right header-button" title="TODO">TODO
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>


<div class="content-wrapper">
{% block content %}
{% endblock %}
</div>


<div id="dialog" class="w3-modal" style="display: none">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">

        <header class="w3-container w3-center w3-light-grey w3-border-bottom"
                style="padding: 0 60px 0 60px">
            <h3 id="dialog_text">Placeholder Text</h3>

            <button onclick="$('#dialog').hide()" type="button" id="dialog_close"
                    class="w3-button w3-display-topright w3-red">
                <i class="fa fa-times"></i>
            </button>
        </header>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey" id="confirm_bar">
            <button onclick="$('#dialog').hide()" type="button" id="dialog_decline"
                    class="w3-button w3-red">No
            </button>

            <button onclick="$('#dialog').hide()" type="button" id="dialog_confirm"
                    class="w3-button w3-green w3-right">Yes
            </button>
        </div>
    </div>
</div>
{% block endpage %}
{% endblock %}

</body>
</html>
