{% extends 'covid_app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Dashboard{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            {#let overview_data = JSON.parse("{{overview_data|escapejs}}");#}
            {#console.log(overview_data);#}
            console.log({{ overview_data|safe }});
        });

    </script>
{% endblock %}

{% block content %}
    <div class="tile-container">
        <div class="tile third" style="display: flex" onclick="location.href='{% url 'covid_app:case_stats' %}';">
            <div style="flex: 0 0 25%;" class="w3-margin-right">
                <img src="{% static 'covid_app/images/covid-icon-2.svg' %}"
                     style="width: 100%; max-width: 50px; position: relative; top: 50%; transform: translateY(-50%)">
            </div>
            <div style="flex: 1;">
                <div>
                    <h4 class="tile-small-text" style="height: 35px">Confirmed Cases</h4>
                    <h3 class="tile-large-text" style="height: 50px">{{ overview_data.confirmed_cases|intcomma }}</h3>
                    <h5 class="tile-small-text">(+{{ overview_data.confirmed_cases_today|intcomma }})</h5>
                </div>
            </div>
        </div>

        <div class="tile third" style="display: flex">
            <div style="flex: 0 0 25%;" class="w3-margin-right">
                <img src="{% static 'covid_app/images/covid-icon-2.svg' %}"
                     style="width: 100%; max-width: 50px; position: relative; top: 50%; transform: translateY(-50%)">
            </div>
            <div style="flex: 1;">
                <div>
                    <h4 class="tile-small-text" style="height: 35px">Active Cases</h4>
                    <h3 class="tile-large-text" style="height: 50px">{{ overview_data.active_cases|intcomma }}</h3>
                </div>
            </div>
        </div>

        <div class="tile third" style="display: flex">
            <div style="flex: 0 0 25%;" class="w3-margin-right">
                <img src="{% static 'covid_app/images/covid-icon-2.svg' %}"
                     style="width: 100%; max-width: 50px; position: relative; top: 50%; transform: translateY(-50%)">
            </div>
            <div style="flex: 1;">
                <div>
                    <h4 class="tile-small-text" style="height: 35px">Total Recovered</h4>
                    <h3 class="tile-large-text" style="height: 50px">{{ overview_data.total_recovered|intcomma }}</h3>
                </div>
            </div>
        </div>

        <div class="tile third" style="display: flex">
            <div style="flex: 0 0 25%;" class="w3-margin-right">
                <img src="{% static 'covid_app/images/covid-icon-2.svg' %}"
                     style="width: 100%; max-width: 50px; position: relative; top: 50%; transform: translateY(-50%)">
            </div>
            <div style="flex: 1;">
                <div>
                    <h4 class="tile-small-text" style="height: 35px">Total Deaths</h4>
                    <h3 class="tile-large-text" style="height: 50px">{{ overview_data.total_deaths|intcomma }}</h3>
                </div>
            </div>
        </div>


        <div class="tile third" style="display: flex">
            <div style="flex: 0 0 25%;" class="w3-margin-right">
                <img src="{% static 'covid_app/images/covid-icon-2.svg' %}"
                     style="width: 100%; max-width: 50px; position: relative; top: 50%; transform: translateY(-50%)">
            </div>
            <div style="flex: 1;">
                <div>
                    <h4 class="tile-small-text" style="height: 35px">Hospitalized</h4>
                    <h3 class="tile-large-text" style="height: 50px">{{ overview_data.hospitalized_count|intcomma }}</h3>
                    {#                    <h5 class="tile-title">(+ TODO)</h5>#}
                </div>
            </div>
        </div>


        <div class="tile third" style="display: flex">
            <div style="flex: 0 0 25%;" class="w3-margin-right">
                <img src="{% static 'covid_app/images/covid-icon-2.svg' %}"
                     style="width: 100%; max-width: 50px; position: relative; top: 50%; transform: translateY(-50%)">
            </div>
            <div style="flex: 1;">
                <div>
                    <h4 class="tile-small-text" style="height: 35px">Performed Tests</h4>
                    <h3 class="tile-large-text" style="height: 50px">{{ overview_data.performed_tests|intcomma }}</h3>
                    <h5 class="tile-small-text">(+{{ overview_data.performed_tests_yesterday|intcomma }})</h5>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
