{% extends 'covid_app/base.html' %}
{% block title %}COV-19 Stats{% endblock %}

{% block scripts %}
    <script>
        function basePost(url, action) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: action
                },
                dataType: '',
                async: true,
                success: function (json) {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("AJAX POST failure");
                    console.log(xhr);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }


        function baseGet(url, getData, successCallback) {
            $.ajax({
                type: 'GET',
                url: url,
                data: getData,
                dataType: 'json',
                async: true,
                success: successCallback,
                error: function (xhr, textStatus, errorThrown) {
                    console.log("AJAX GET failure");
                    console.log(xhr);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function populateAreaTables() {
            basePost("{% url 'covid_app:case_stats' %}", 'populate_area_tables')
        }

        function clearDb() {
            basePost("{% url 'covid_app:case_stats' %}", 'clear_db')
        }

        function importData() {
            basePost("{% url 'covid_app:case_stats' %}", 'import_data')
        }

        function updateData() {
            basePost("{% url 'covid_app:case_stats' %}", 'update_data')
        }


        function selectGraphView(event, graphDivID) {
            let graphDiv = $('#' + graphDivID);
            let buttonTabs = graphDiv.prev().children('button');
            let targetUrl = graphDiv.data('url');
            let dataRetrieveAction = graphDiv.data('action');
            let active_tab = buttonTabs.filter('.active');
            active_tab.removeClass('active');

            let storage_key = window.location.pathname + graphDivID;
            let selectedTab;
            if (event) {
                selectedTab = $(event.target);
            } else {
                let selectedTabIdx = sessionStorage.getItem(storage_key);
                if (selectedTabIdx != null) {
                    selectedTab = buttonTabs.eq(selectedTabIdx);
                } else {
                    selectedTab = buttonTabs.first();
                }
            }
            selectedTab.addClass('active');
            sessionStorage.setItem(storage_key, selectedTab.index());

            let getData = {
                action: dataRetrieveAction,
                graphViewID: selectedTab.index()
            };

            let loading_div = $('.loading-div', graphDiv.parent());
            loading_div.removeClass('hidden')
            baseGet(targetUrl, getData, function (data, status, xhr) {
                loading_div.addClass('hidden');
                if (graphDiv.children().length > 0) {
                    Plotly.react(graphDivID, data['graph_data'], data['graph_layout'], {responsive: true});
                } else {
                    Plotly.newPlot(graphDivID, data['graph_data'], data['graph_layout'], {responsive: true});
                }
            });
        }


        $(document).ready(function () {
            let trace = null;
            let traces = [];
            let layout = null;


            // TODO: This is not a great idea, will be slow as hell later on. Would be nice to create some
            // TODO: kind of menu to switch which graph to load through AJAX maybe? Dunno
            {% for div_id, div_data in graph_divs.items %}
                selectGraphView(null, '{{ div_id }}');
            {% endfor %}
        });

    </script>
{% endblock scripts %}

{% block content %}
    <div id="import-buttons" class="w3-section">
        <button onclick="populateAreaTables()" type="button" id="area-tables-button"
                class="w3-button w3-block w3-gray w3-border-bottom">
            <b>Populate Area Tables</b>
        </button>
        <button onclick="importData()" type="button" id="data-import-button"
                class="w3-button w3-block w3-gray w3-border-bottom">
            <b>Import Data</b>
        </button>
        <button onclick="updateData()" type="button" id="data-update-button"
                class="w3-button w3-block w3-gray w3-border-bottom">
            <b>Update Data</b>
        </button>
        <button onclick="clearDb()" type="button" id="clear-db-button" class="w3-button w3-block w3-gray">
            <b>Clear Database</b>
        </button>
    </div>

    <div class="flex-container">
        <div style="flex: 1 1 0; background-color: gray; padding: 0 10px;">
            <h3 style="text-align: center">Stats</h3>

            <div id="deceased_table">
                {% if deceased_list %}
                    <h3>Deceased</h3>
                    <div class="w3-card w3-round" style="overflow-y:auto; max-height: 325px">

                        <table class="w3-table w3-striped w3-bordered w3-hoverable">
                            <thead>
                            <tr>
                                <th><h4>Date of death</h4></th>
                                <th><h4>Age</h4>
                                <th><h4>Gender</h4>
                                <th><h4>Region</h4>
                                <th><h4>County</h4>
                                </th>
                            </tr>
                            </thead>

                            <tbody id="deceased_rows">
                            {% for deceased in deceased_list %}
                                <tr>
                                    <td>{{ deceased.date_of_death | date:"j.n.Y" }}</td>
                                    <td>{{ deceased.age }}</td>
                                    <td>{{ deceased.gender }}</td>
                                    <td>{{ deceased.nuts_4_area.nuts_higher.name }}</td>
                                    <td>{{ deceased.nuts_4_area.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>

            {% for div_id, div_data in graph_divs.items %}
                <div class="graph-view-wrapper w3-section">
                    <div class="graph-view-tabs">
                        {% for tab_name in div_data.tabs %}
                            <button onclick="selectGraphView(event, '{{ div_id }}')"
                                    {% if div_data.tabs|length == 1 %}disabled{% endif %}>
                                {{ tab_name }}
                            </button>
                        {% endfor %}
                    </div>
                    <div class="graph-container" id="{{ div_id }}"
                         data-action="{{ div_data.action }}"
                         data-url="{{ action_url }}">

                    </div>
                    <div class="loading-div">
                        <h2>Loading...</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Middle Column -->
    {#    <div style="flex: 2 1 0">#}
    {##}
    {#        <!-- End Middle Column -->#}
    {#    </div>#}
{% endblock %}
