{% extends 'covid_app/base.html' %}
{% block title %}COV-19 Stats{% endblock %}

{% block scripts %}
    <script>
        function basePost(url, action) {
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: action
                },
                dataType: '',
                async: true,
                success: function (json) {
                    location.reload();
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("AJAX POST failure");
                    console.log(xhr);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }


        function baseGet(url, getData, successCallback) {
            $.ajax({
                type: 'GET',
                url: url,
                data: getData,
                dataType: 'json',
                async: true,
                success: successCallback,
                error: function (xhr, textStatus, errorThrown) {
                    console.log("AJAX GET failure");
                    console.log(xhr);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function populateAreaTables() {
            basePost("{% url 'covid_app:case_stats' %}", 'populate_area_tables')
        }

        function clearDb() {
            basePost("{% url 'covid_app:case_stats' %}", 'clear_db')
        }

        function importData() {
            basePost("{% url 'covid_app:case_stats' %}", 'import_data')
        }

        function updateData() {
            basePost("{% url 'covid_app:case_stats' %}", 'update_data')
        }


        function selectGraphView(event, graphDivID) {
            let graphDiv = $('#' + graphDivID);
            let buttonTabs = graphDiv.prev().children('button');
            let targetUrl = graphDiv.data('url');
            let dataRetrieveAction = graphDiv.data('action');
            let active_tab = buttonTabs.filter('.active');
            active_tab.removeClass('active');

            let storage_key = window.location.pathname + graphDivID;
            let selectedTab;
            if (event) {
                selectedTab = $(event.target);
            } else {
                let selectedTabIdx = sessionStorage.getItem(storage_key);
                if (selectedTabIdx != null) {
                    selectedTab = buttonTabs.eq(selectedTabIdx);
                } else {
                    selectedTab = buttonTabs.first();
                }
            }
            selectedTab.addClass('active');
            sessionStorage.setItem(storage_key, selectedTab.index());

            let getData = {
                action: dataRetrieveAction,
                graphViewID: selectedTab.index()
            };

            baseGet(targetUrl, getData, function (data, status, xhr) {
                if (graphDiv.children().length > 0) {
                    Plotly.react(graphDivID, data['graph_data'], data['graph_layout'], {responsive: true});
                } else {
                    Plotly.newPlot(graphDivID, data['graph_data'], data['graph_layout'], {responsive: true});
                }
            });
        }


        $(document).ready(function () {
            let trace = null;
            let traces = [];
            let layout = null;

            {#            {% if weekly_deaths %}#}
            {#                let weekly_deaths_data = JSON.parse("{{weekly_deaths|escapejs}}")#}
            {#                traces = []#}
            {#                for (let i = 0; i < 52; i++) {#}
            {#                    traces.push({#}
            {#                        y: weekly_deaths_data[i + 1],#}
            {#                        type: 'box',#}
            {#                        name: `Week ${i + 1}`#}
            {#                    })#}
            {#                }#}
            {#                layout = {#}
            {#                    title: 'Weekly deaths data summarization from 2011 to present',#}
            {#                    paper_bgcolor: 'rgb(243, 243, 243)',#}
            {#                    plot_bgcolor: 'rgb(243, 243, 243)',#}
            {#                    showlegend: false,#}
            {#                    autosize: true#}
            {#                };#}
            {##}
            {#                Plotly.newPlot('weekly_deaths_graph', traces, layout, {responsive: true});#}
            {#resizeObserver.observe($('#weekly_deaths_graph')[0]);#}
            {#            {% endif %}#}

            // TODO: This is not a great idea, will be slow as hell later on. Would be nice to create some
            // TODO: kind of menu to switch which graph to load through AJAX maybe? Dunno
            selectGraphView(null, 'cases_age_distribution_graph');
            selectGraphView(null, 'area_cases_graph');
            selectGraphView(null, 'age_average_evolution_graph');
            selectGraphView(null, 'deaths_age_graph');
        });

    </script>
{% endblock scripts %}

{% block content %}
    <div id="import-buttons" class="w3-section">
        <button onclick="populateAreaTables()" type="button" id="area-tables-button"
                class="w3-button w3-block w3-gray w3-border-bottom">
            <b>Populate Area Tables</b>
        </button>
        <button onclick="importData()" type="button" id="data-import-button"
                class="w3-button w3-block w3-gray w3-border-bottom">
            <b>Import Data</b>
        </button>
        <button onclick="updateData()" type="button" id="data-update-button"
                class="w3-button w3-block w3-gray w3-border-bottom">
            <b>Update Data</b>
        </button>
        <button onclick="clearDb()" type="button" id="clear-db-button" class="w3-button w3-block w3-gray">
            <b>Clear Database</b>
        </button>
    </div>

    <div class="flex-container">
        <div style="flex: 1 1 0; background-color: gray; padding: 0 10px;">
            <h3 style="text-align: center">Stats</h3>

            <div id="deceased_table">
                {% if deceased_list %}
                    <h3>Deceased</h3>
                    <div class="w3-card w3-round" style="overflow-y:auto; max-height: 325px">

                        <table class="w3-table w3-striped w3-bordered w3-hoverable">
                            <thead>
                            <tr>
                                <th><h4>Date of death</h4></th>
                                <th><h4>Age</h4>
                                <th><h4>Gender</h4>
                                <th><h4>Region</h4>
                                <th><h4>County</h4>
                                </th>
                            </tr>
                            </thead>

                            <tbody id="deceased_rows">
                            {% for deceased in deceased_list %}
                                <tr>
                                    <td>{{ deceased.date_of_death | date:"j.n.Y" }}</td>
                                    <td>{{ deceased.age }}</td>
                                    <td>{{ deceased.gender }}</td>
                                    <td>{{ deceased.nuts_4_area.nuts_higher.name }}</td>
                                    <td>{{ deceased.nuts_4_area.name }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>

            <!---
            TODO: this is dumb AF, create template and pass
            TODO: necessary data through context to auto-generate all graph divs, will be easier to maintain
            -->
            <div class="graph-view-wrapper w3-section">
                <div class="graph-view-tabs">
                    <button class=""
                            onclick="selectGraphView(event, 'cases_age_distribution_graph')">
                        Pyramid View
                    </button>
                    <button class=""
                            onclick="selectGraphView(event, 'cases_age_distribution_graph')">
                        Stacked Bar View
                    </button>
                    <button class=""
                            onclick="selectGraphView(event, 'cases_age_distribution_graph')">
                        Daily Change View
                    </button>
                    <button class=""
                            onclick="selectGraphView(event, 'cases_age_distribution_graph')">
                        Cumulative View
                    </button>
                </div>
                <div class="graph-container" id="cases_age_distribution_graph"
                     data-action="get_age_distribution"
                     data-url="{% url 'covid_app:case_stats' %}">
                </div>
            </div>

            <div class="graph-view-wrapper w3-section">
                <div class="graph-view-tabs">
                    <button class="" onclick="selectGraphView(event, 'area_cases_graph')">
                        Bar View
                    </button>
                    <button class="" onclick="selectGraphView(event, 'area_cases_graph')">
                        TODO
                    </button>
                </div>
                <div class="graph-container" id="area_cases_graph"
                     data-action="get_area_cases"
                     data-url="{% url 'covid_app:case_stats' %}">
                </div>
            </div>

            <div class="graph-view-wrapper w3-section">
                <div class="graph-view-tabs">
                    <button class="" onclick="selectGraphView(event, 'age_average_evolution_graph')" disabled>
                        Default
                    </button>
                </div>
                <div class="graph-container" id="age_average_evolution_graph"
                     data-action="get_age_average_evolution"
                     data-url="{% url 'covid_app:case_stats' %}">
                </div>
            </div>

            <div class="graph-view-wrapper w3-section">
                <div class="graph-view-tabs">
                    <button class="" onclick="selectGraphView(event, 'deaths_age_graph')" disabled>
                        Default
                    </button>
                </div>
                <div class="graph-container" id="deaths_age_graph"
                     data-action="get_death_age_data"
                     data-url="{% url 'covid_app:case_stats' %}">
                </div>
            </div>


            <div class="graph-view-wrapper w3-section">
                <div class="graph-view-tabs">
                    <button class="" onclick="selectGraphView(event, 'deaths_age_graph')" disabled>
                        Default
                    </button>
                </div>
                <div class="graph-container" id="deaths_age_graph"
                     data-action="get_death_age_data"
                     data-url="{% url 'covid_app:case_stats' %}">
                </div>
            </div>

            {#            {% if weekly_deaths %}#}
            {#                <div class="w3-section" style="height: 500px;" id="weekly_deaths_graph">#}
            {#                </div>#}
            {#            {% endif %}#}
        </div>
    </div>

    <!-- Middle Column -->
    {#    <div style="flex: 2 1 0">#}
    {##}
    {#        <!-- End Middle Column -->#}
    {#    </div>#}
{% endblock %}
