html, body {
    height: 100%;
}

body {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Quicksand', sans-serif;
}

.logoText {
    font-family: 'Audiowide', cursive;
    text-shadow: 3px 3px 5px gray
}

.header {
    box-shadow: 0 1px 5px 0 #616161;
}

.content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

.flex-item {
    margin-bottom: 16px;
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
}

.input-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.section-bar {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none
}

.section-tab {
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
    font-weight: bold;
}

.section, .subsection {
    display: none;
}

.gameCard {
    overflow: hidden;
    max-width: 300px;
    border-radius: 8px;
}

.gameCard:hover {
    box-shadow: 0 4px 15px 0 #616161;
}

.accordion {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.accordion_open {
    max-height: 500px;
    opacity: 1;
}

.gameHeader {
    background-color: gray;
    height: 150px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.gameImg {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 150px;
}

.gameLink {
    text-decoration: none;
    font-family: 'Audiowide', cursive;
}

.gameEdit {
    border-bottom-right-radius: 5px;
    border-width: 0;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    cursor: pointer;
}

.edit_object {
    cursor: pointer;
}

.edit_object:hover {
    text-decoration: underline;
}

.gameEdit:hover {
    opacity: 1;
}

.date_icon {
    background-color: #EDEDED;
    border-left-width: 0 !important;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 40px;
}

.table_button_center {
    text-align: right !important;
    vertical-align: middle !important;
}

.table_button_width {
    width: 70px;
}

.table_button {
    border-radius: 8px;
    padding: 3px 8px !important;
    width: 70px;
    height: 26px;
}

.green_button {
    font-weight: bold;
    border: 2px solid green !important;
}

.green_button:hover {
    color: black !important;
    font-weight: bold;
    background-color: white !important;
    border: 2px solid green !important;
}

.red_button {
    font-weight: bold;
    border: 2px solid red !important;
}

.red_button:hover {
    color: black !important;
    font-weight: bold;
    background-color: white !important;
    border: 2px solid red !important;
}

.orange_button {
    font-weight: bold;
    border: 2px solid #ff9800 !important;
}

.orange_button:hover {
    color: black !important;
    font-weight: bold;
    background-color: white !important;
    border: 2px solid #ff9800 !important;
}

.orange_button .hover {
    display: none;
}

.orange_button:hover .normal {
    display: none;
}

.orange_button:hover .hover {
    display: inline;
}

article p {
    text-align: justify;
}

.button_bar {
    margin-bottom: 16px;
}

.button_bar button {
    width: 125px;
}

input:required {
  border: 1px solid red !important;
}

select:required {
  border: 1px solid red !important;
}