html, body {
    height: 100%;
}

body {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Quicksand', sans-serif;
}

.logoText {
    font-family: 'Audiowide', cursive;
    text-shadow: 3px 3px 5px gray
}

.header {
    box-shadow: 0 1px 5px 0 #616161;
}

.content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

.flex-item {
    margin-bottom: 16px;
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
}

.input-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.section-bar {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none
}

.section-tab {
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
    font-weight: bold;
}

.section, .subsection {
    display: none;
}

.gameCard {
    overflow: hidden;
    max-width: 300px;
    border-radius: 8px;
}

.gameCard:hover {
    box-shadow: 0 4px 15px 0 #616161;
}

.accordion {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.accordion_open {
    max-height: 500px;
    opacity: 1;
}

.gameHeader {
    background-color: gray;
    height: 150px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.gameImg {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 150px;
}

.gameLink {
    text-decoration: none;
    font-family: 'Audiowide', cursive;
}

.gameEdit {
    border-bottom-right-radius: 5px;
    border-width: 0;
    width: 30px;
    height: 30px;
    opacity: 0.7;
    cursor: pointer;
}

.edit_object {
    cursor: pointer;
}

.edit_object:hover {
    text-decoration: underline;
}

.gameEdit:hover {
    opacity: 1;
}

.date_icon {
    background-color: #EDEDED;
    border-left-width: 0 !important;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: 40px;
}

.table_button_center {
    text-align: right !important;
    vertical-align: middle !important;
}

.table_button_width {
    width: 70px;
}

.table_button {
    border-radius: 8px;
    padding: 3px 8px !important;
    width: 70px;
    height: 26px;
}

.green_button {
    font-weight: bold;
    border: 2px solid green !important;
}

.green_button:hover {
    color: black !important;
    font-weight: bold;
    background-color: white !important;
    border: 2px solid green !important;
}

.red_button {
    font-weight: bold;
    border: 2px solid red !important;
}

.red_button:hover {
    color: black !important;
    font-weight: bold;
    background-color: white !important;
    border: 2px solid red !important;
}

.orange_button {
    font-weight: bold;
    border: 2px solid #ff9800 !important;
}

.orange_button:hover {
    color: black !important;
    font-weight: bold;
    background-color: white !important;
    border: 2px solid #ff9800 !important;
}

.orange_button .hover {
    display: none;
}

.orange_button:hover .normal {
    display: none;
}

.orange_button:hover .hover {
    display: inline;
}

article p {
    text-align: justify;
}

.button_bar {
    margin-bottom: 16px;
}

.button_bar button {
    width: 125px;
}

input:required {
    border: 1px solid red !important;
}

select:required {
    border: 1px solid red !important;
}

* {
    box-sizing: border-box;
}

.tile-wrapper {
    display: block;
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.tile-container {
    display: flex;
    position: relative;
    width: calc(100% + 30px);
    flex-wrap: wrap;
    padding: 10px;
}

.tile {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    min-height: 130px;
    text-align: left;
    position: relative;
    /*border: 1px solid gray;*/
    border-radius:4px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tile:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    /*transform: scale(1.01, 1.01);*/
    /*cursor: pointer;*/
}

.tile-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5vw;
    color: gray;
    margin: 0;
}
.tile-value {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    /*font-size: 30px;*/
    font-size: 2.5vw;
    margin: 0;
}

.two-thirds {
    flex: 0 0 calc(66.66% - 30px);
}

.third {
    flex: 0 0 calc(33.33% - 30px);
}

.sixth {
    flex: 0 0 calc(16.66% - 30px);
}

.header2 {
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    height: 60px;
}

.title-div {
    display: inline-block;
    height: 60px;
}

.covid-icon {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    vertical-align: middle;
    height: 60px;
    padding: 5px 0;
    margin-right: 8px;
}

.logo-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #5ACAB0;
    height: 60px;
    line-height: 60px;
}

.logo-text:hover {
    text-shadow: 1px 1px 2px rgba(200, 50, 30, 1);
}

.header-content {
    width: 90%;
    max-width: 1200px;
    /*position: relative;*/
    margin: 0 auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.header-button {
    height: 60px;
    vertical-align: middle;
    line-height: 46px;
}