html, body {
    height: 100%;
}

body {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Quicksand', sans-serif;
}

.logo-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: #5ACAB0;
    height: 60px;
    line-height: 60px;
}

.logo-text:hover {
    text-shadow: 1px 1px 2px rgba(200, 50, 30, 1);
}

.header {
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    height: 60px;
}

.content-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
}

.flex-item {
    margin-bottom: 16px;
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
}

.section-bar {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none
}

.section-tab {
    flex-grow: 1;
    flex-basis: 0;
    cursor: pointer;
    font-weight: bold;
}

.section, .subsection {
    display: none;
}

article p {
    text-align: justify;
}

.content-wrapper {
    display: block;
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 20px;
    /*overflow: hidden;*/
}

.tile-container {
    display: flex;
    position: relative;
    width: calc(100% + 30px);
    flex-wrap: wrap;
    padding: 10px;
}


.tile {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    min-height: 130px;
    text-align: left;
    position: relative;
    /*border: 1px solid gray;*/
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.tile:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    /*transform: scale(1.01, 1.01);*/
    cursor: pointer;
}

.tile-small-text {
    font-family: 'Quicksand', sans-serif;
    font-size: min(max(11px, 1.5vw), 24px);
    color: gray;
    margin: 0;
}

.tile-large-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: min(max(13px, 2.5vw), 28px);
    margin: 0;
}

.two-thirds {
    flex: 0 0 calc(66.66% - 30px);
}

.third {
    flex: 0 0 calc(33.33% - 30px);
}

.sixth {
    flex: 0 0 calc(16.66% - 30px);
}

.title-div {
    display: inline-block;
    height: 60px;
}

.covid-icon {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    vertical-align: middle;
    height: 60px;
    padding: 5px 0;
    margin-right: 8px;
}


.header-content {
    width: 90%;
    max-width: 1200px;
    /*position: relative;*/
    margin: 0 auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.header-button {
    height: 60px;
    vertical-align: middle;
    line-height: 46px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    border-right: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.graph-tab {
    display: none;
    /*border: 1px solid #ccc;*/
    /*border-top: none;*/
}